/*
	Override template stylings
 */
.btn:hover {
/*	color: #fff;*/
}

.wrapper {
	padding-bottom: 5em;
}

.training-box {
	width: 600px;
	margin: 0 auto;
	padding: 2em;
	border: 1px solid #b3b1b0;
	margin-top: 50px;
	margin-bottom: 20px;
}

.visual {
	width: 300px;
	height: 300px;
	background-color: #f7f7f7;
	margin: 0 auto;
}

.test-box {
	padding: 2em 0;
	text-align: center;
}

.button-wrapper {
	padding: 1em 0;
}

.next-button{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #202020;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.next-button:hover {
	color: #202020;
	background-color: rgba(0, 0, 0, 0.4);
}

.select-message {
	padding: 10px 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.bottom-section {
	text-align: center;
}

.inactive {
	opacity: 0.5;
	pointer-events: none;
}

.replay {
	/*display: none;*/
}

#progress-box {
	width: 600px;
	text-align: center;
	margin: 200px auto;
	font-weight: bold;
	font-size: 2em;
}

#progress-bar {
	height: 20px;
	border: 1px solid #ccc;
	background-color: #f2f2f2;
	margin-top: 20px;
}

#progress-completed {
	background-color: #d0d0d0;
	width: 0%;
	height: 100%;
}

